<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Profession</th>
        <th>Mobile no</th>
        <th>Address</th>
        <th>Profile pic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
            <td>{{userObj.id}}</td>
            <td>{{userObj.email}}</td>
            <td>{{userObj.name}}</td>
            <td>{{userObj.profession}}</td>
            <td>{{userObj.mobile}}</td>
            <td>{{userObj.address}}</td>
            <td><img src="{{userObj.profilePic}}"></td>
          
        </tr>
      
    
    </tbody>
  </table>